.home-ctn {
    margin-right: 5em;
    margin-left: 5em;
}

.home-main-txt {
    font-weight: bold;
    text-align: center;
    text-align: center;
}

.home-main-txt>h1 {
    font-size: 3em;
    margin-bottom: 0em;
}

.home-txt {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.home-launch {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-launch-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.home-launch-send {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-weight: bold;
    background-color: #5bc0de;
    width: 40px;
    transition: 300ms;
    border-radius: 3px;
}

.home-launch-send:hover {
    border-radius: 5px;
    background-color: #28a4c9;
}

.home-launch-send-icon {
    transition: 300ms;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transform: scale(2);
}

.home-launch-upper>input:focus {
    background-color: #f5f5f5;
}

.home-launch-upper>input {
    font-size: 2em;
    color: #ffc107;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 0.4em;
    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.12),
        0px 0px 83px rgba(0, 0, 0, 0.24);
    transition: 200ms;
}



.home-launch-upper>p {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    padding: 0.3em;
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}