ul {
    width: 100%;
    border: 1px solid red;
}

img {
    width: 15%;
    min-width: 15%;
}

.link {
    text-decoration: none;
    color: black;
}

.li-nav {
    font-size: 1.5em;
    margin-right: 1em;
    padding-left: 0.2em;
    border-left: 4px solid transparent;
}

.li-nav:hover {
    color: #ffc107;
    border-left: 4px solid #ffc107;
}

nav {
    box-shadow:
    1.3px 1.7px 5.5px rgba(0, 0, 0, 0.028),
    4.2px 5.8px 18.5px rgba(0, 0, 0, 0.042),
    19px 26px 83px rgba(0, 0, 0, 0.07)
  ;
    margin-bottom: 4em;
}