body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.txtarea{
  text-align: center;
  transform: scale(3);

}

.content_all{
  height: 100vh;
  width: 100vw;
}

.content_all > input {
  text-align: center;
  font-size: 30px;
}

.green{
  color: #5cb85c;
}

.red{
  color: #d9534f;
}

.blue{
  color: #337ab7;
}

.orange{
  color: #ffc107;
}